span{
    display: block;
    width:300px;
    height:100px;
    line-height: 100px;
    background:aliceblue;
    text-align: center;
    font-size: 3em;
    font-family: fantasy;

}

.overlay{
    height: 0;
    width:100%;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.9);
    overflow-x:hidden;
    transition: 0.5s;
    
}

.overlay-content{
    position: relative;
    top:30%;
    width: 100%;
    text-align: center;
}

.overlay a{
    padding:8px;
    text-decoration: none;
    font-size: 36px;
    color:#818181;
    display:block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus{
    color:#F1F1F1;
}

.overlay .classbtn{
    position: absolute;
    top:20px;
    right:45px;
    font-size: 60px;
}